<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header font-weight-bold">
            <router-link to="/home" class="btn btn-sm btn-success mr-3">Back to Home</router-link>PHP ASIGNMENT
            <span class="text-primary">| FORM ADD</span>
          </div>
          <div class="card-body py-5">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div class="card px-3 py-5">
                  <form @submit.prevent="saveBiodata">
                    <div class="form-group">
                      <label for="first_name">Fisrt Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="formData.first_name"
                        autofocus="true"
                      />
                    </div>
                    <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <input type="text" class="form-control" v-model="formData.last_name" />
                    </div>
                    <div class="mt-5">
                      <button type="submit" class="btn btn-primary float-right">Add Biodata</button>
                      <button
                        type="button"
                        @click="resetForm"
                        class="btn btn-outline-primary float-right mr-3"
                      >Reset Form</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AddBiodata",
  data: () => ({
    formData: {
      first_name: "",
      last_name: ""
    }
  }),
  methods: {
    async saveBiodata() {
      await axios.post(`http://localhost:8000/api/biodata/add`, this.formData);

      this.$router.push({ path: "home" });
      this.show();
    },
    resetForm() {
      this.formData = {};
    },
    show() {
      this.$toasted.show("Data berhasil ditambahkan.", {
        duration: 3000,
        position: "top-center"
      });
    }
  }
};
</script>

<style scoped>
</style>
