<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header font-weight-bold">
            <router-link to="/home" class="btn btn-sm btn-success mr-3">Back to Home</router-link>PHP ASIGNMENT
            <span class="text-primary">| FORM EDIT</span>
          </div>
          <div class="card-body pt-5">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div class="card px-3 py-5">
                  <form @submit.prevent="updateBiodata">
                    <div class="form-group">
                      <label for="first_name">Fisrt Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="formData.first_name"
                        autofocus="true"
                      />
                    </div>
                    <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <input type="text" class="form-control" v-model="formData.last_name" />
                    </div>
                    <div class="mt-5">
                      <button type="submit" class="btn btn-primary float-right">Update Biodata</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "EditBiodata",
  data: () => ({
    formData: {
      first_name: "",
      last_name: ""
    }
  }),
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      const res = await axios.get(
        `http://localhost:8000/api/biodata/edit/${this.$route.params.id}`
      );
      this.formData = res.data;
    },
    async updateBiodata() {
      await axios.post(
        `http://localhost:8000/api/biodata/update/${this.$route.params.id}`,
        this.formData
      );
      this.$router.push({ name: "home" });
      this.show();
    },
    show() {
      this.$toasted.show("Data berhasil diupdate.", {
        duration: 3000,
        position: "top-center"
      });
    }
  }
};
</script>

<style scoped>
</style>
