<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header font-weight-bold">
            PHP ASIGNMENT
            <span class="text-primary">| ALL DATA</span>
          </div>
          <div class="card-body pt-3">
            <div class="row my-3 float-right">
              <router-link to="/add" class="btn btn-sm btn-success mr-4">Add Data</router-link>
            </div>
            <table class="table table-striped table-bordered">
              <thead>
                <th>Firs Name</th>
                <th>Last Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </thead>

              <tbody>
                <tr v-for="person in dataPerson" :key="person.id">
                  <td>{{person.first_name}}</td>
                  <td>{{person.last_name}}</td>
                  <td>
                    <router-link :to="`/edit/${person.id}`" class="btn btn-sm btn-warning">Edit</router-link>
                  </td>
                  <td>
                    <button @click="deleteBiodata(person.id)" class="btn btn-sm btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="alert alert-primary my-3 text-center"
              v-show="dataPerson.length==0"
            >Biodata tidak ditemukan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Home",
  data: () => ({
    dataPerson: []
  }),
  created() {
    this.loadAllBiodata();
  },
  methods: {
    loadAllBiodata() {
      axios
        .get(`http://localhost:8000/api/all`)
        .then(res => (this.dataPerson = res.data.data));
    },
    deleteBiodata(biodataId) {
      axios
        .delete(`http://localhost:8000/api/biodata/delete/${biodataId}`)
        .then(res => {
          this.loadAllBiodata();
          this.show();
        });
    },
    show() {
      this.$toasted.show("Data berhasil dihapus.", {
        duration: 3000,
        position: "top-center"
      });
    }
  }
};
</script>

<style scoped>
</style>
